
@{
    ViewData["Title"] = "FoodDetails";
}

<h1>FoodDetails</h1>

<table class="table">

    <tr>

        <td>Customer Name</td>
        <td>@ViewBag.Name</td>
    </tr>
    <tr>

        <td>Customer Mobile</td>
        <td>@ViewBag.Mobile</td>
    </tr>
    <tr>

        <td>Customer Chooses south indian food</td>
        <td>
            @foreach (string s in ViewBag.South)
            {
                <p>  @s</p>

            }
    </td>
</tr>
    <tr>

        <td>Customer Chooses north indian food</td>
        <td>
            @foreach (string s in ViewBag.North)
            {
                <p>  @s</p>

            }
        </td>
    </tr>
</table>